.movie-page {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    padding-left: 300px;
    padding-right: 300px;
    background-color: blueviolet;
}