.movie-page {
    color: white;
    display: flex;
    flex-direction: column;
    /* max-width: 600px;
    margin: 2rem auto; */
    align-items: center;
    padding-left: 300px;
    background-color: blueviolet;
}